<p id="notice"><%= notice %></p>
    <table>

  <tr>
  <td>  <h2>Current version</h2></td>
    <td><%= @product.name %></td>
    <td><%= @product.price %></td>
    <td><%= @product.description %></td>
    <td><%= @product.available %></td>
      </tr>
         <tr>
    <td>  <h2>Previous versions</h2></td></tr>
      <% @product.versions.each do |version|%>
     <tr>
    <td><%= version.reify.name %></td>
    <td><%= version.reify.price %></td>
    <td><%= version.reify.description %></td>
    <td><%= version.reify.available %></td>
      </tr>
      <%end%>
</table>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
